<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Lato|Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="pricing.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plan Pricing</title>
</head>
<body>
    <section class="plans-section">
        <div class="plan-column">
            <div class="plan-column__header">
                <div class="plan-column__price">
                    <div class="plan-column__dollar-sign">$</div>
                    10
                    <div class="plan-column__per-month">/MO</div>
                </div>
                <div class="plan-column__name">BASIC</div>
            </div>
            <div class="plan-column__divider"></div>
            <div class="plan-column__feature">
                <img src="./images/check-circle.svg">
                Feature A
            </div>
            <div class="plan-column__feature">
                <img src="./images/check-circle.svg">
                Feature B
            </div>
            <div class="plan-column__feature inactive">
                <img src="./images/x-square.svg">
                Feature C
            </div>
            <div class="plan-column__feature inactive">
                <img src="./images/x-square.svg">
                Feature D
            </div>
            <div class="plan-column__feature inactive">
                <img src="./images/x-square.svg">
                Feature E
            </div>
            <div class="plan-column__feature inactive">
                <img src="./images/x-square.svg">
                Feature F
            </div>
            <button class="plan-column__button">START TODAY</button>
        </div>
        <div class="plan-column popular">
            <div class="most-popular">Most Popular</div>
            <div class="plan-column__header">
                <div class="plan-column__price">
                    <div class="plan-column__dollar-sign">$</div>
                    20
                    <div class="plan-column__per-month">/MO</div>
                </div>
                <div class="plan-column__name">PROFESSIONAL</div>
            </div>
            <div class="plan-column__divider"></div>
            <div class="plan-column__feature">
                <img src="./images/check-circle.svg">
                Feature A
            </div>
            <div class="plan-column__feature">
                <img src="./images/check-circle.svg">
                Feature B
            </div>
            <div class="plan-column__feature">
                <img src="./images/check-circle.svg">
                Feature C
            </div>
            <div class="plan-column__feature">
                <img src="./images/check-circle.svg">
                Feature D
            </div>
            <div class="plan-column__feature inactive">
                <img  src="./images/x-square.svg">
                Feature E
            </div>
            <div class="plan-column__feature inactive">
                <img  src="./images/x-square.svg">
                Feature F
            </div>
            <button class="plan-column__button">START TODAY</button>
        </div>
        <div class="plan-column">
            <div class="plan-column__header">
                <div class="plan-column__price">
                    <div class="plan-column__dollar-sign">$</div>
                    50
                    <div class="plan-column__per-month">/MO</div>
                </div>
                <div class="plan-column__name">ENTERPRISE</div>
            </div>
            <div class="plan-column__divider"></div>
            <div class="plan-column__feature">
                <img src="./images/check-circle.svg">
                Feature A
            </div>
            <div class="plan-column__feature">
                <img src="./images/check-circle.svg">
                Feature B
            </div>
            <div class="plan-column__feature">
                <img src="./images/check-circle.svg">
                Feature C
            </div>
            <div class="plan-column__feature">
                <img src="./images/check-circle.svg">
                Feature D
            </div>
            <div class="plan-column__feature">
                <img src="./images/check-circle.svg">
                Feature E
            </div>
            <div class="plan-column__feature">
                <img src="./images/check-circle.svg">
                Feature F
            </div>
            <button class="plan-column__button">START TODAY</button>
        </div>
    </section>
    <script src="pricing.js"></script>
</body>
</html>