<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="navbar.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav Bar</title>
</head>
<body>
    <nav class="main-nav">
        <div class="main-nav__logo">Company Name</div>
        <a href="#" class="main-nav__toggle-button">
            <span class="toggle-button__bar"></span>
            <span class="toggle-button__bar"></span>
            <span class="toggle-button__bar"></span>
        </a>
        <ul class="main-nav__items">
        <li class="main-nav__item"><a href="#">Home</a></li>
        <li class="main-nav__item"><a href="#">Locations</a></li>
        <li class="main-nav__item"><a href="#">About</a></li>
    </ul>
    </nav>
    <script src="navbar.js"></script>
</body>
</html>